<div class="container">
  <div class="row">
    <div class="col-md-6 offset-4">
      <div class="d-flex align-items-center justfy-content-center" style="height:650px;">
        <h2 class="text-center"><span>ご注文ありがとうございました！</span></h2>
      </div>
      
    </div>
  </div>
</div>